{{extend 'layout.html'}}

<div class="post_listing center">

    {{logged_in = auth.user_id is not None}}

    <div class="page-header clearfix">
        <h2 class="pull-left">GroupThink: Enrolled Courses</h2>
        {{if logged_in:}}
            <a href="{{=URL('default', 'join')}}" class="btn btn-info pull-right pull-right">
                <i class="fa fa-user-plus"></i> Join Course
            </a>
            <a href="{{=URL('default', 'edit_course')}}" class="btn btn-info pull-right pull-right">
                <i class="fa fa-plus"></i> Create Course
            </a>
        {{else:}}
            <a href="{{=URL('default', 'user', args=['login'])}}" class="btn btn-warning pull-right">
                    Log in <i class="fa fa-sign-in"></i>
            </a>
        {{pass}}
    </div>

    <div class="text-left">
        {{if student.enrolled_courses:}}
            {{for d in student.enrolled_courses:}}
                {{own_p = auth.user_id and d.admin_email == auth.user.email}}
                <div class="panel panel-info">
                    <div class="panel-heading clearfix">
                      <a href="{{=URL('default', 'project_list', args=[d.course_id])}}" class="btn btn-primary btn-sm pull-left">
                          View {{=d.course_name}} <i class="fa fa-graduation-cap"></i>
                      </a>
                        {{if own_p:}}
                            <a href="{{=URL('default', 'edit_course', args=[d.id])}}" class="btn btn-primary btn-sm pull-right">
                                Edit <i class="fa fa-pencil-square-o"></i>
                            </a>
                            <a href="{{=URL('default', 'statistics', args=[d.course_id])}}" class="btn btn-primary btn-sm pull-right">
                                Statistics <i class="fa fa-pie-chart"></i>
                            </a>
                        {{pass}}
                    </div>
                    <div class="panel-body">
                        <p>Course Name: {{=d.course_name}}</p>
                        <p>Course ID: {{=d.course_id}} </p>
                        <p>Course Information: {{=d.course_info}}</p>
                    </div>
                    <div class="panel-footer clearfix">
                        <span class="badge pull-right">#{{=d.id}}</span>
                    </div>
                </div>
            {{pass}}
        {{else:}}
            <div class="alert alert-warning" role="alert">
                There aren't any classes yet!
            </div>
        {{pass}}
    </div>



</div>
