{{extend 'layout.html'}}

<div class="post_listing center">

    {{logged_in = auth.user_id is not None}}

    <div class="page-header clearfix">
        <h2 class="pull-left">GroupThink: My Courses</h2>
        {{if logged_in:}}
            <a href="{{=URL('default', 'join')}}">
              <button type="button" class="btn btn-default pull-right">
                <i class="fa fa-user-plus"></i> Join Course
              </button>
            </a>
            <a href="{{=URL('default', 'edit_course')}}">
              <button type="button" class="btn btn-default pull-right">
                <i class="fa fa-plus"></i> Create Course
              </button>
            </a>
        {{else:}}
            <a href="{{=URL('default', 'user', args=['login'])}}" class="btn btn-warning pull-right">
                    Log in <i class="fa fa-sign-in"></i>
            </a>
        {{pass}}
    </div>


        {{if student.enrolled_courses:}}
            {{for d in student.enrolled_courses:}}
                {{own_p = auth.user_id and d.admin_email == auth.user.email}}
                <div class="post">

                    <div class="post-buttons">
                    {{if own_p:}}
                            <a href="{{=URL('default', 'edit_course', args=[d.id])}}" class="btn">
                                Edit <i class="fa fa-pencil-square-o"></i>
                            </a>
                            <a href="{{=URL('default', 'statistics', args=[d.course_id])}}" class="btn">
                                Statistics <i class="fa fa-pie-chart"></i>
                            </a>
                    {{pass}}
                    </div>
                        <p class="course-name">{{=d.course_name}}</p>
                        <p class="course-id">Term: {{=d.term}}</p>
                        <p class="course-id">Course ID: {{=d.course_id}} </p>
                        <p  class="course-info">{{=d.course_info}}</p>
                    <div class="post-footer">
                        <a href="{{=URL('default', 'project_list', args=[d.course_id])}}" type="button" class="btn">
                          View {{=d.course_name}} <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
        {{pass}}
        {{else:}}
                <div class="alert alert-warning" role="alert">
                    There aren't any classes yet!
                </div>
         {{pass}}




</div>
