{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var courses_url = "{{=URL('api', 'get_my_courses')}}";
    var projects_url = "{{=URL('api', 'get_projects')}}";
    var view_project_url = "{{=URL('api', 'get_one_project')}}";
    var view_statistics_url = "{{=URL('api','get_statistics')}}"
    var edit_project_url = "{{=URL('api', 'edit_project')}}";
    var members_url = "{{=URL('api', 'get_members')}}";
    var current_url = "{{=URL('api', 'get_current')}}";
</script>
{{end}}

<div class="container">
  <div id="vue-div" style="display:none">

    <span v-if="page == 'project_list'">
      <a v-bind:href="edit_project_str">
        <button type="button" class="btn btn-default pull-right">
        Post Project ${course_id}
        </button>
      </a>
    </span>

    <!-- Breadcrumb navigation for courses -->
    <ol class="breadcrumb">
      <li>
        <a v-on:click="goto('courses')"> My Courses </a>
      </li>
      <li v-if="current_course != null">
        ${current_course}
      </li>
    </ol>

    <div v-if="page == 'courses'">

        <div v-if="my_courses.length == 0">
          No courses
        </div>

        <div v-for="c in my_courses">
          <div class="panel panel-default" id="course-panel">

            <div class="panel-heading clearfix">
              <h2 class="pull-left"> ${c.course_name} </h2>
              <button v-on:click="goto('project_list',c.course_id)" class="pull-right">
                View ${c.course_name} <i class="fa fa-arrow-right"></i>

              </button>
                  <button v-on:click="goto('members',c.course_id)" class="pull-right">
                View ${c.course_name} Members <i class="fa fa-arrow-right"></i>
              </button>
            </div>
            <div class="panel-body">
              <p class="text-center">${c.course_info}</p>
            </div>
          <div class="panel-footer clearfix">
            <p class="pull-left"> Term: ${c.term}</p>
            <p class="pull-right"> Course ID: ${c.course_id} </p>
            <p v-if="current == c.admin_email">
                <a v-bind:href="edit_course_str + '/' + c.id">
                <button>
                    Edit Course <i class="fa fa-pencil-square-o"></i>
                </button>
                </a>


                <button v-on:click="get_one_course(c.id)" data-toggle="modal" data-target="#statModal">
                    View Statistics for ${c.course_name} <i class="fa fa-bar-chart"></i>
                </button>

                <!--
                <a v-bind:href="statistics_str + '/' + c.id">
                <button>
                    View Statistics <i class="fa fa-bar-chart"></i>
                </button>
                </a>
                -->

            </p>
          </div>
          </div>


        </div>


    </div> <!-- Courses div -->




    <div v-if="page == 'project_list'">

      <div class="panel">


          <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">Project Name</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Team Members</th>
                    <th class="text-center">Accepting Members?</th>
                </tr>
            </thead>
            <tbody>
                  <tr v-for="p in projects">
                      <td>
                        <button v-on:click="get_one_project(p.course_id,p.id)" data-toggle="modal" data-target="#myModal">
                            ${p.project_name}
                        </button>
                      </td>
                      <td>${p.project_info}</td>
                      <td>
                        <ul v-for="i in p.current_members">
                                <li>${i}</li>
                        </ul>
                      </td>
                      <td>
                            <p v-if="p.accepting_members">Yes</p>
                            <p v-if="p.accepting_members == false">No</p>
                      </td>
                      <td>
                          <div v-if="current == p.user_email">
                                  <a v-bind:href="edit_project_str + '/' + p.id">
                                  <button>
                                      Edit Project
                                      <i class="fa fa-pencil-square-o"></i>
                                  </button>
                                  </a>
                          </div>
                      </td>


                  </tr>
            </tbody>
          </table>

        </div> <!-- end project list panel -->


        <!--  Project Modal -->
        <div class="modal fade" id="myModal" role="dialog" style="top:15%;">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">${proj.project_name}</h4>
              </div>
              <div class="modal-body">
                <p>Project Description: ${proj.project_info} </p>
                Current Members:
                    <ul v-for="member_email in proj.current_members">
                            <li>${member_email}</li>
                    </ul>
                Needed Skills:
                    <ul v-for="skill in proj.needed_skills">
                        <li>${skill}</li>
                    </ul>
                    <p v-if="proj.accepting_members">Accepting Members? Yes</p>
                    <p v-if="proj.accepting_members == false">Accepting Members? No</p>
                <p>Find Teammates:</p>
                <ul v-for="m in proj_matches">
                  <li> ${m} </li>
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>




    </div> <!-- Project list div -->

    <div v-if="page == 'members'">
        <div class="panel" style="border-radius: 0">
          <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Username</th>
                </tr>
            </thead>
            <tbody>
                  <tr v-for="m in my_members">
                      <td >
                          ${m.first_name} ${m.last_name}
                      </td>
                      <td>
                          ${m.email}
                      </td>
                      <td>
                          ${m.username}
                      </td>
                      <td>
                          <button v-on:click="">
                              View Profile <i class="fa fa-user"></i>
                          </button>
                      </td>
                  </tr>
            </tbody>
          </table>
        </div>
        

    </div> <!-- end of member list panel -->


         <!--  Statistics Modal -->
        <div class="modal fade" id="statModal" role="dialog" style="top:15%;">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3> </h3>
                <h4 class="modal-title"> Course Name: ${course.course_name} </h4>
                <h5>Course Info: ${course.course_info}</h5>
              </div>
              <div class="modal-body">

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


  </div> <!-- Vue div -->

</div> <!-- container div -->

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
