{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
{{end}}

<div class="post_listing center">

{{logged_in = auth.user_id is not None}}

    <div class="page-header clearfix">
    {{if logged_in:}}
        <h2>GroupThink</h2>
        <h3>Dashboard</h3>


        <a href="{{=URL('default', 'project_list')}}" class="btn btn-info pull-right pull-right">
            <i class="fa fa-plus"></i> My Projects
        </a>

        <a href="{{=URL('default', 'enrolled_courses')}}" class="btn btn-info pull-right pull-right">
            <i class="fa fa-plus"></i> My Courses
        </a>

        <a href="{{=URL('default', 'profile', args=[current_profile.username])}}" class="btn btn-info pull-right pull-right">
            <i class="fa fa-plus"></i> My Profile
        </a>
        <div id="vue-div" class="display:none">
            <button v-on:click="groupthink()" class="btn btn-default" >GroupThink</button>
                <p v-if="shout">GROUPTHINK!!!</p>
        </div>
    {{else:}}
        <h2>GroupThink</h2>
        <h3>Start thinking with GroupThink today. Login or Sign up.</h3>
        <a href="{{=URL('default', 'user', args=['login'])}}" class="btn btn-warning pull-right">
            Log in <i class="fa fa-sign-in"></i>
        </a>
    {{pass}}
    </div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
