{{extend 'layout.html'}}

<h2>{{=course_name}}</h2>

<div class="memberPage">



    {{for m in members:}}

        <div class="profile-sidebar" id="smallProf">

				<div class="profile-userpic">

					<img src="/groupthink/static/images/noprofilemale.gif" class="img-responsive" alt="/groupthink/static/images/noprofilemale.gif">
				</div>

				<div class="profile-usertitle">
					<div class="profile-usertitle-name" style="text-transform: uppercase">
                        {{if m:}}
                            {{=get_user_name_from_email(m.email)}}
                        {{pass}}
					</div>
					<div class="profile-usertitle-job">
						UCSC Student
					</div>
				</div>

				<div class="profile-userbuttons" id="smallButtons">
                    <button type="button" class="glyphicon glyphicon-envelope" style="margin-bottom:10px;">  Message</button>
                    {{if m:}}
                        <a href="{{=URL('default', 'profile', args=[m.username])}}">
                    {{pass}}
                    <button type="button" class="glyphicon glyphicon-user" style="margin-bottom:10px;"> Profile</button>
                    </a>

				</div>
        </div>


    {{pass}}




</div>
