{{extend 'layout.html'}}

<div class="container center">

  <div class="nav">


  <ul class="nav nav-tabs">
    <li role="presentation" class="pull-left pull-left">
      <a href="{{=URL('default', 'project_list', args=[course_id])}}"> {{=course_name}} Projects</a>
    </li>
    <li role="presentation" class="active pull-left pull-left">
      <a href="{{=URL('default', 'members', args=[course_id])}}"> {{=course_name}} Members</a>
    </li>
  </ul>

  </div>

<div class="panel" style="border-radius: 0">


<div class="memberPage">



    {{for m in members:}}
        {{if m:}}
            <div class="profile-sidebar" id="smallProf">


				<div class="profile-userpic">
                    <img src="{{=URL('default','download', args=[m.picture])}}" class="img-responsive" onerror="this.src='/groupthink/static/images/noprofilemale.gif'">
				</div>

                <div class="profile-usertitle-name" style="text-transform: uppercase">
                        {{=get_user_name_from_email(m.email)}}
                </div>

                <div class="profile-usertitle-job">
                        @{{=m.username}}
                </div>

                <div class="matching-info">
                    {{if coursework_members:}}
                        {{for c in coursework_members:}}
                            {{if m.email != auth.user.email:}}
                                {{if c.email == m.email:}}

                                    <t class="glyphicon glyphicon-plus"> You and {{=get_user_name_from_email(m.email)}} have taken classes together!</t>

                                {{pass}}
                            {{pass}}
                        {{pass}}
                    {{pass}}
                </div>

				<div class="profile-userbuttons" id="smallButtons">
                    <button type="button" class="glyphicon glyphicon-envelope"> Message</button>
                    {{if m:}}
                        <a href="{{=URL('default', 'profile', args=[m.username])}}">
                    {{pass}}
                    <button type="button" class="glyphicon glyphicon-user" > Profile</button>
                    </a>
				</div>
            </div>
        {{pass}}
    {{pass}}


</div>

</div>



</div>
