{{extend 'layout.html'}}

<script>

    console.log("very nice");

    function openTab(evt,tabName) {
        var i;
        var x =document.getElementsByClassName("tabcontent");
        for (i=0; i < x.length;i++){
            x[i].style.display="none";          //hide the tabs that weren't selected
        }

        document.getElementById(tabName).style.display="block";
        }

</script>


<div class="container">
<div class="row profile">
<div class="col-md-3">
<div class="profile-sidebar">

<div class="profile-userpic">

  <img src="{{=URL('default','download', args=[current_profile.picture])}}" class="img-responsive" onerror="this.src='/groupthink_CS183/static/images/noprofilemale.gif' ">

</div>

<div class="profile-usertitle">
  <div class="profile-usertitle-name">
    {{=get_user_name_from_email(current_profile.email)}}
  </div>
  <div class="profile-usertitle-job">
    UCSC Student
  </div>
</div>

<div class="profile-userbuttons">
    {{if auth.user.username != current_profile.username:}}
  <button type="button" class="btn btn-danger btn-sm">Message</button>
    {{pass}}
</div>

<div class="profile-usermenu">
  <ul class="nav">

    {{if auth.user.username == current_profile.username:}}
      <li>
        <a href="{{=URL('default', 'user', args=['profile'])}}">
          <i class="glyphicon glyphicon-edit"></i>
          Edit Profile </a>
      </li>
      <li>
      <a href="{{=URL('default', 'user', args=['logout'])}}">
        <i class="glyphicon glyphicon-alert"></i>
        Logout </a>
      </li>
    {{pass}}
  </ul>
</div>
<!-- END MENU -->
</div>
</div>


<div class="col-md-9">
    <div class="profile-content">

        <ul class = "tab">
           <li><a href="javascript:void(0)" onclick="openTab(event,'Bio')" class="nonactive"> Bio </a> </li>
           <li><a href="javascript:void(0)" onclick="openTab(event,'Projects')" class="active" >Projects </a> </li>
           <li><a href="javascript:void(0)" onclick="openTab(event,'Skills')" class="nonactive"> Skills </a> </li>
        </ul>
        <body onload="openTab(event, 'Bio')" class="nonactive">
            <div id="Projects" class="tabcontent">
                {{if projects:}}
                  {{for p in projects:}}
                    <ul>
                    <li><a style="display: inline" href="{{=URL('default', 'project', args=[p.course_id,p.id])}}">{{=p.project_name}}:</a>
                       <p style="display: inline" >{{=p.project_info}}</p>
                    </li>

                    </ul>
                  {{pass}}
                {{else:}}
                  <p> No projects yet. </p>
                {{pass}}
            </div>

            <div id="Skills" class="tabcontent">
              {{if current_profile.skills:}}
                <p>Skills:
                <ul>
                {{for skill in current_profile.skills:}}
                 <li> {{=skill}}</li>

                {{pass}}
                </ul>
              {{else:}}
                <p> This person has no skills. </p>
              {{pass}}

            </div>

            <div id="Bio" class="tabcontent">
                {{if current_profile.addtl_info:}}
                    <p>{{=current_profile.addtl_info}}</p>
                {{else:}}
                    <p> This person has no Bio.</p>
                {{pass}}
            </div>
        </body>


    </div>
</div>
</div>
</div>

<br>
<br>
