{{extend 'layout.html'}}

<div class="post_listing center">

    <div class="page-header clearfix">
        <h4 class="pull-left">Project Name: {{=p.project_name}} Course Name: {{=course_name}}</h4>
            <a href="{{=URL('default', 'edit_project', args=[course_id])}}" class="btn btn-info pull-right pull-right">
                <i class="fa fa-plus"></i> Post Project
            </a>
            <a href="{{=URL('default', 'members', args=[course_id])}}" class="btn btn-info pull-right pull-right">
                <i class="fa fa-plus"></i> View Course Members
            </a>
            <a href="{{=URL('default', 'project_list', args=[course_id])}}" class="btn btn-info pull-right pull-right">
                <i class="fa fa-plus"></i> View All Projects
            </a>
    </div>


    <div class="text-left">
            {{own_p = auth.user_id and p.user_email == auth.user.email}}
            <div class="panel {{='panel-info' if own_p else 'panel-primary'}}">
                <div class="panel-heading clearfix">
                    <h2 class="panel-title pull-left">
                        {{=get_user_name_from_email(p.user_email)}}
                        <small>{{=p.user_email}}</small>
                    </h2>
                    {{if own_p:}}
                        <a href="{{=URL('default', 'edit_project', args=[course_id,p.id])}}" class="btn btn-primary btn-sm pull-right">
                            Edit <i class="fa fa-pencil-square-o"></i>
                        </a>
                    {{pass}}
                </div>
                <div class="panel-body">
                    <p>Project Name: {{=p.project_name}}</p>
                    <p>Project Info: {{=p.project_info}} </p>
                    Current Members:
                        <ul>
                            {{for i in p.current_members:}}
                                <li>{{=i}}</li>
                            {{pass}}
                        </ul>
                    Needed Skills:
                        <ul>
                        {{for i in p.needed_skills:}}
                            <li>{{=i}}</li>
                        {{pass}}
                        </ul>
                    {{if p.accepting_members:}}
                        <p>Accepting Members: Yes</p>
                    {{else:}}
                        <p>Accepting Members: No</p>
                    {{pass}}
                    {{if own_p:}}
                        Find Members:
                            <ul>
                            {{for i in matches:}}
                                <li>{{=i.email}}</li>
                            {{pass}}
                            </ul>
                    {{pass}}
                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-left">
                    <span class="label label-success">Created {{=p.created_on}}</span>
                    {{if p.created_on != p.updated_on:}}
                         <span class="label label-warning">Last edited {{=p.updated_on}}</span>
                    {{pass}}
                    </div>
                    <span class="badge pull-right">#{{=p.id}}</span>
                </div>
            </div>
    </div>
</div>
