{{extend 'layout.html'}}

<div class="container center">

  {{logged_in = auth.user_id is not None}}

  <div class="nav">

    <ul class="nav nav-tabs">
      <li class="active pull-left pull-left" role="presentation">
        <a href="{{=URL('default', 'project_list', args=[course_id])}}"> {{=course_name}} Projects</a>
      </li>
      <li class="pull-left pull-left" role="presentation">
        <a href="{{=URL('default', 'members', args=[course_id])}}"> {{=course_name}} Members</a>
      </li>

      <a href="{{=URL('default', 'edit_project', args=[course_id])}}">
        <button type="button" class="btn btn-default pull-right">
        Post Project
        </button>
      </a>

    </ul>

</div>

<div class="panel" style="border-radius: 0">


    <table class="table table-striped">
      <thead>
          <tr>
              <th class="text-center">Project Name</th>
              <th class="text-center">Description</th>
              <th class="text-center">Team Members</th>
              <th class="text-center">Accepting Members?</th>
          </tr>
      </thead>
      <tbody>
        {{if projects:}}
          {{for p in projects:}}
            {{own_p = auth.user_id and p.user_email == auth.user.email}}
            <tr>
                <td>
                  <a href="{{=URL('default', 'project', args=[course_id,p.id])}}">
                      {{=p.project_name}}
                  </a>
                </td>
                <td>{{=p.project_info}}</td>
                <td>
                  <ul>
                      {{for i in p.current_members:}}
                          <li>{{=get_user_name_from_email(i)}}</li>
                      {{pass}}
                  </ul>
                </td>
                <td>
                  {{if p.accepting_members:}}
                      <p>Yes</p>
                  {{else:}}
                      <p>No</p>
                  {{pass}}
                </td>
                <td>
                  {{if own_p:}}
                      <a href="{{=URL('default', 'edit_project', args=[course_id,p.id])}}" class="btn btn-primary btn-sm pull-right">
                          Edit <i class="fa fa-pencil-square-o"></i>
                      </a>
                  {{pass}}
                </td>
            </tr>
        {{pass}}
          {{pass}}
      </tbody>
    </table>


<!--
    <div class="text-left">
    {{if projects:}}
        {{for p in projects:}}
            {{own_p = auth.user_id and p.user_email == auth.user.email}}
            <div class="panel {{='panel-info' if own_p else 'panel-primary'}}">
                <div class="panel-heading clearfix">
                    <h5 class="pull-left">
                        {{=p.project_name}}
                    </h5>
                    <a href="{{=URL('default', 'project', args=[course_id,p.id])}}" class="btn btn-primary btn-sm pull-right">
                        View Project <i class="fa fa-folder-open"></i>
                    </a>
                    {{if own_p:}}
                        <a href="{{=URL('default', 'edit_project', args=[course_id,p.id])}}" class="btn btn-primary btn-sm pull-right">
                            Edit <i class="fa fa-pencil-square-o"></i>
                        </a>
                    {{pass}}
                </div>
                <div class="panel-body">
                    <p>Project Name: {{=p.project_name}}</p>
                    <p>Project Info: {{=p.project_info}} </p>
                    Current Members:
                        <ul>
                            {{for i in p.current_members:}}
                                <li>{{=get_user_name_from_email(i)}}</li>
                            {{pass}}
                        </ul>
                    Needed Skills:
                        <ul>
                        {{for i in p.needed_skills:}}
                            <li>{{=i}}</li>
                        {{pass}}
                        </ul>
                    {{if p.accepting_members:}}
                        <p>Accepting Members: Yes</p>
                    {{else:}}
                        <p>Accepting Members: No</p>
                    {{pass}}

                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-left">
                    <span class="label label-success">Created {{=p.created_on}}</span>
                    {{if p.created_on != p.updated_on:}}
                         <span class="label label-warning">Last edited {{=p.updated_on}}</span>
                    {{pass}}
                    </div>
                    <span class="badge pull-right">#{{=p.id}}</span>
                </div>
            </div>
        {{pass}}
    {{else:}}
        <div class="alert alert-warning" role="alert">
            There aren't any projects yet! {{='Create one with the button above.' if logged_in else 'Log in to create one.'}}
        </div>
    {{pass}}
    </div>

-->

</div>
</div> <!-- Main container -->
