{{extend 'layout.html'}}

<div class="post_listing center">

    <div class="page-header clearfix">
        <h2 class="pull-left">GroupThink: Statistics</h2>
            <a href="{{=URL('default', 'edit_project', args=[course.course_id])}}">
              <button type="button" class="btn btn-default pull-right">
                <i class="fa fa-plus"></i> Post Project
              </button>
            </a>
            <a href="{{=URL('default', 'members', args=[course.course_id])}}">
              <button type="button" class="btn btn-default pull-right">
              <i class="fa fa-plus"></i> View Course Members
              </button>
            </a>
            <a href="{{=URL('default', 'project_list', args=[course.course_id])}}">
              <button type="button" class="btn btn-default pull-right">
              <i class="fa fa-plus"></i> View All Projects
              </button>
            </a>
    </div>


    <div class="text-left">
            {{own_c = auth.user_id and course.admin_email == auth.user.email}}
            <div class="panel {{='panel-info' if own_c else 'panel-primary'}}">
                <div class="panel-heading clearfix">
                    <h2 class="panel-title pull-left">
                        Statistics for Course {{=course.course_name}}
                    </h2>
                </div>
                <div class="panel-body">
                    <p>Course Name: {{=course.course_name}}</p>
                    <p>Course Info: {{=course.course_info}} </p>
                        <div class="row">
                            <div class="col-sm-4">
                                {{if members:}}
                                    Enrolled Students: {{=len(members)}}
                                    <ul>
                                        {{for i in members:}}
                                            {{if i:}}
                                                <li>{{=' '.join([i.first_name, i.last_name])}}</li>
                                            {{pass}}
                                        {{pass}}
                                    </ul>
                                {{pass}}
                            </div>
                            <div class="col-sm-4">
                                Number of Projects: {{=len(p)}}
                                <ul>
                                    {{for x in p:}}
                                        {{if i:}}
                                            <li>{{=x.project_name}}</li>
                                        {{pass}}
                                    {{pass}}
                                </ul>
                            </div>
                            <div class="col-sm-4">
                               Students not in projects: {{=len(not_in_projects)}}
                               <ul>
                                   {{for i in not_in_projects:}}
                                       {{if i:}}
                                           <li>{{=' '.join([i.first_name, i.last_name])}}</li>
                                       {{pass}}
                                   {{pass}}
                               </ul>
                            </div>
                        </div>
                    </div>
                <div class="panel-footer clearfix">
                </div>
            </div>
    </div>
</div>
